<div>
  <p-tabView>
    <p-tabPanel header="Изменение пароля">
      <ng-template pTemplate="content">
        <app-change-password></app-change-password>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Статистика">
      <ng-template pTemplate="content">
        <app-statistic></app-statistic>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Загрузка тура">
      <ng-template pTemplate="content">
        <app-tour-loader></app-tour-loader>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Список заказов">
      <ng-template pTemplate="content">
        <app-orders></app-orders>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
